:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #42a065;
  background: #262b30;
  margin: 0;
  user-select: none;
}

select {
  color: #fff;
  background: linear-gradient(#2b3037, #1a1e22);
  border: 1px solid #16181c;
  &:hover {
    background: linear-gradient(#2b3037 + #111, #1a1e22 + #111);
  }
}

button {
  color: #fff;
  background: linear-gradient(#2b3037, #1a1e22);
  border: 1px solid #16181c;
  &:hover {
    background: linear-gradient(#2b3037 + #111, #1a1e22 + #111);
  }
}

input {
  background: #101213;
  color: #fff;
  border-radius: 3px;
  border: none;
}
